name: FastAPI Docker CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Build and start services
        run: |
          docker-compose -f app/docker-compose.yml up -d --build

      - name: Run tests
        run: |
          docker-compose -f app/docker-compose.yml exec -T web pytest

      - name: Stop services
        run: |
          docker-compose -f app/docker-compose.yml down
